

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: start; */
    gap:1rem;
    column-gap: 2rem;
}

.purpose_of_project{
    max-width: 40%;
    text-align: justify;
    font-size: 1.4rem;
    font-size: clamp(0.8rem, -0.5286rem + 2.8571vw, 1.2rem);
}

.things-I-learnt{
    text-align: center;
    align-self: center;
    font-size: clamp(1.3rem, -0.5286rem + 2.8571vw, 2.5rem);
}


.purpose_of_project:nth-child(2n+1):last-child{
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}

@media (max-width:768px){
    .main-container{
        margin-left: 2rem;
    }

    
}